body, html{
	height: 100%;
}

.onebg{
	position: relative;
	height: 100%;
	background-image: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?auto=format&fit=crop&w=1352&q=80);
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.write{
	font-family: 'Comfortaa', cursive;
}

.text-center{
	padding-top: 230px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.btn-lg{
	background-color: #a49df2;
	border: 2px solid #a49df2;
	transition: all 0.6s;
}

.btn-dark:hover{
	background-color: #591f7c;
	border-color: #591f7c;
}

.nav-link{
	transition: all 0.5s;
	-webkit-transition : all 0.6s;
	-moz-transition: all 0.6s;
	outline: none;
	font-family: 'Antic', sans-serif;
}
	
.nav-link:hover{
	border-bottom: 2px solid rgba(37, 41, 51, 0.8);
}

#circle{
	width: 30%;
	padding-top: 10%;
	margin: 1.66%;
}

#dp{
	border: 2px double black;
	border-radius: 60%;
	max-width: 250%;
	max-height: 250%;
	margin: 35%;
	margin-bottom: 5%;
	padding: 5%;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

#primary-name{
	text-decoration: underline;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 0.5px 0.5px 0.5px black;
}

.name-text{
	margin-top: 10%;
	font-size: 200%;
	font-family: 'Josefin Sans', sans-serif;
}


h1{
	display: none;
}

p{
	display: none;
}
