<nav class="side-nav">
    <ul>
        <li><a href="#about" title="About"><i class="fa-solid fa-user"></i> <span class="nav-label">About</span></a></li>
        <li><a href="#experience" title="Experience"><i class="fa-solid fa-briefcase"></i> <span class="nav-label">Experience</span></a></li>
        <li><a href="#projects" title="Projects"><i class="fa-solid fa-code-branch"></i> <span class="nav-label">Projects</span></a></li>
        <li><a href="#contact" title="Contact"><i class="fa-solid fa-envelope"></i> <span class="nav-label">Contact</span></a></li>
    </ul>
</nav>